/* espacio para no quedar debajo del header fijo */

.page-content {
  padding-top: calc(var(--header-height) + 12px);
}


/* caja base */

.home-card {
  background: var(--color-navbar-bg);
  border-radius: 18px;
  padding: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,.06);
  min-height: 210px;
  min-width: 180px;
}

/* si quieres que todas las cajas igualen altura por fila */
.row > .col { display: grid; }
.row > .col .home-card { height: 100%; }

